﻿@model PatternRemember.Models.DataModels.Memory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Memory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Find)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Find)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Replace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Replace)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MemoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
