﻿@model PatternRemember.Models.DataModels.EntryPoint

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Entry Point Form</h4>
        <hr />



        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.BeforeFormat, "Copy your text here", htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @*@Html.EditorFor(model => model.BeforeFormat, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.TextAreaFor(m => m.BeforeFormat, new { @id = "n1", @class = "form-control", @style = "max-width:1025px;", placeholder = "Before Formatting", rows = "10" })
                @Html.ValidationMessageFor(model => model.BeforeFormat, "", new { @class = "text-danger" })
            </div>
        </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input value="Copy below" class="btn btn-info" onclick="sync()" />
                </div>
            </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AfterFormat, "Format your text here", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.AfterFormat, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.TextAreaFor(m => m.AfterFormat, new { @id = "n2", @class = "form-control", @style = "max-width:1025px;", placeholder = "After Formatting", rows = "10" })
                        @Html.ValidationMessageFor(model => model.AfterFormat, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
                        @Html.LabelFor(model => model.ProccessedV1, "Processed text", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(m => m.ProccessedV1, new { @class = "form-control", @style = "max-width:1025px;", placeholder = "Proccessed Text", rows = "10" })
                            @Html.ValidationMessageFor(model => model.ProccessedV1, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProccessedV2, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ProccessedV2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ProccessedV2, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Process" class="btn btn-success" />
                    </div>
                </div>
            </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

            <script>
                function sync() {
                    var n1 = document.getElementById('n1');
                    var n2 = document.getElementById('n2');
                    n2.value = n1.value;
                }
            </script>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
