﻿@model PatternRemember.Models.DataModels.EntryPoint

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EntryPoint</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BeforeFormat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeforeFormat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AfterFormat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AfterFormat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProccessedV1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProccessedV1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProccessedV2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProccessedV2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EntryPointId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
