﻿@model IEnumerable<PatternRemember.Models.DataModels.EntryPoint>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BeforeFormat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AfterFormat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProccessedV1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProccessedV2)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BeforeFormat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AfterFormat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProccessedV1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProccessedV2)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EntryPointId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EntryPointId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EntryPointId })
        </td>
    </tr>
}

</table>
